<tr>
  <th scope="row"><%= task_counter + 1 %></th>
  <td>
    <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>">
      <%= task.title %>
    </span>
  </td>
  <td><%= l task.created_at, format: :short %></td>
  <td>
    <div class="btn-group" role="group">
      <%= link_to t('tasks.edit.title'), edit_task_path(task), class: "btn btn-sm btn-outline-secondary" %>
      <% if !task.completed? %>
        <%= button_to t('tasks.complete.title'), complete_task_path(task), method: :patch, data: { turbo_method: :patch, turbo_confirm: t('tasks.complete.confirm') }, class: "btn btn-sm btn-outline-success" %>
      <% end %>
      <%= button_to t('tasks.destroy.title'), task_path(task), method: :delete, form_class: "d-inline", data: { turbo_confirm: t('tasks.destroy.confirm') }, class: "btn btn-sm btn-outline-danger" %>
    </div>
  </td>
</tr>
